flask==2.0.1
flask-cors==3.0.10
Pillow==9.0.0
pytesseract==0.3.9
fpdf==1.7.2
requests==2.27.1
python-dotenv==0.19.2
langchain-core==0.1.27
langchain-ollama==0.1.6
langchain-community==0.0.24
chromadb==0.4.24
pandas==2.2.1
datasets==2.18.0